/* NAV  */
      
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #F2F2F2;
        
        
    }

    .daniel{
        padding-top: 20px;
        font-weight: bold;
        color: #4C4C4C;
    }

    .nav0{
        /* background-color: aqua; */
        display: flex;
        margin-top:20px;
        padding: 10px;
        /* border-style: solid; */
    }

    .logo{
    justify-items: flex-start;
    padding: 4px;
    border-radius: 10px; 
    animation: logo;
    animation-duration: 3s;
    }

    @keyframes logo{
        0%{opacity: 1%;}



    }
    .nav2{
        /* background-color: azure; */
        padding: 20px;
        position: absolute;
        right: 3%;
        
        
    }

    .nav3{

        /* background-color: yellow; */
        width: 150px;
        height: 50px;
        margin: 20px;
        padding: 20px;
        text-decoration: none;
        font-weight: bold;
        color: #4C4C4C;
        animation: down;
        animation-duration: 2s;
        position: relative;
    
            
    }

    @keyframes down{
        0%{bottom:100px;opacity: 9%;}
        /* 50%{bottom:10px;}
        90%{bottom: 2px;} */
        100%{bottom: 0px;}
    }

    .nav3:hover{
        border-radius: 10px;
        color:#2540D9 ;
    }

    #buttom{
        border: solid;
        border-radius: 10px ;
        color: #2540D9;
        border-style: solid;
        border-color: #2540D9;
        position: relative;
        animation: buttom;
        animation-duration: 2s;
    }

    @keyframes buttom{
        0%{left:17%;}
        100%{left:0px}
    }
    #buttom:hover{
        background-color: #2540D9;
        color: azure;
    }

/* SOCIA NETWORK */

    .social{
        margin: 30px;
        margin-left: 50px;
        position: fixed;
        display:block;
        bottom: 1%;
        border-radius: 50%;
        
    }

    .sn{
        position: relative;
        margin-bottom: 50%;
        opacity: 75%;
        border-radius: 10%;
        animation: sn;
        animation-duration: 3;
        
        
    }

    .sn:hover{
        opacity: 100%;
        
    }

/* AVATAR */

    .avatar{
        display: flex;
        justify-content: center;
        
    }

    
    .text1Avatar{
        /* background-color: #2540D9; */
        display: flex;
        justify-content: center;
        padding: 30px;
        margin: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size:45px;
        text-align: center;
        opacity: 75%;
    }

    .text2Avatar{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        font-size: 25px;
        font-weight: bold;
        opacity: 70%;
    }

/* ARTICLE */

    .me{
        border-radius: 20px;
        display: flex;
        margin-top: -71px;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        text-align: center;
        background-color: #2540D9;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

    }

    .name{
        text-align: center;
        /* background-color: aqua; */
        font-weight: bold;
        font-size: 30px;
        color: aliceblue;
    }

/* SECTION */

    .section{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        background-color: 000000;
        
        justify-content: space-between;
        
    }

    .subSection{

    
        height: 350px;
        
        


    }

    .texto{
        position: absolute;
        height:350px;
        width: 350px;        
        text-align: center;
        
        
        
    }

    .centro{
        
        position:absolute;
        /* padding: 50%; */
        justify-content: center;
        

    }

/* TARJETERO */

    .principal{
        /* background-color:bisque; */
        
        display: flex;
        justify-content: space-around;
        border-radius: 10px;
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
        
    }

    .tarjeta{
        position: relative;
        /* background-color: brown; */
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        justify-content: space-around; 
        height: 300px;
        width: 200px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .letra{

    position: relative;
    padding: 8%;
    /* background-color: aqua; */
    color: black;
    opacity: 80%;
    font-weight: bold;
    }

    .img{
        position: relative;
        
        height: 150px;
        border: #2540D9;
        /* width: 150px; */
        
    }

    .barra{
        position: absolute;
        background-color: black;
        opacity: 13%;
        width: 200px;
        border-radius: 10px;
        
        
    }

    .barra2{

        position: absolute;
        background-color: blue;
        width: 180px;
        animation: progreso;
        animation-duration: 2s;
        border-radius: 10px;
    }

    @keyframes progreso{

        0%{width: 1px;}
        100%{width: 180px;}

    }

    .amarillo{

        background-color: blue;
        
    }

    .img:hover{

        opacity: 12%    ;
    }




/* FORMULARIOS */




